* {
  box-sizing: border-box;
}
.my-search {
  background-color: #f4e1ed;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 100px;
  border-radius: 15px;
}
.listar-pokemons {
  margin-left: 100px;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  background-color: #16b0c7;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  width: 100px;
}

.filtrar-nome {
  margin-left: 200px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.filtrar-nome input {
  height: 30px;
  width: 150px;
  align-self: center;
}

.filtrar-button {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  background-color: #16b0c7;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  width: 70px;
}
